* {
  box-sizing: border-box;
}

body {
  --title-font: "Tabular", serif;
  --body-font: "Alpino", sans-serif;
  --foreground: #222;
  --background: #eee;

  font-size: 18px;
  font-family: var(--body-font);
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    --foreground: #eee;
    --background: #222;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --foreground: #222;
    --background: #eee;
  }
}

body.dark {
  --foreground: #eee;
  --background: #222;
}

body:not(.dark) {
  --foreground: #222;
  --background: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: var(--title-font);
}

h1 {
  font-size: 2em;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 8px;
}

section {
  margin-bottom: 32px;
}

main {
  margin-top: 32px;
}

.container {
  padding-inline: 16px;

  @media screen and (min-width: 1024px) {
    width: clamp(1024px, 80%, 1200px);
    margin-inline: auto;
  }
}
