---
import Traits from '../components/Home/Traits.astro';
import RecentPosts from '../components/Home/RecentPosts.astro'
import Default from '../layouts/Default.astro';
import Hero from '../components/Home/Hero.astro';


const traits = [
  {
    title: "Working with",
    items: [
      'Javascript/Typescript',
      'Go',
      'Shopify',
      'PHP (from time to time)',
      'React',
      'Vuejs (the better react)',
    ]
  },
  {
    title: "Passionate for",
    items: [
      'Literature',
      'Food',
      'Movies/Series',
      'Gaming',
    ]
  },
  {
    title: "Looking to learn more about",
    items: [
      'AI (please shut up about ai)',
      'Kubernetes and IaC',
      'Game development',
      'Architecture and cloud',
      'Emacs (yes, the dark side)',
    ]
  }

]

---

<Default>
  <Hero></Hero>
  <section class="traits">
    {traits.map(trait => (<Traits title={trait.title} items={trait.items}></Traits>))}
  </section>
  <RecentPosts></RecentPosts>
</Default>


<style lang="scss">
  .traits {
    display: flex;
    gap: 16px;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 8px;
    }
  }
</style>


