---
import Traits from '../components/Home/Traits.astro';
import RecentPosts from '../components/Home/RecentPosts.astro'
import Default from '../layouts/Default.astro';
import Hero from '../components/Home/Hero.astro';


const traits = [
  {
    title: "Working with",
    items: [
      'Javascript/Typescript',
      'Go',
      'Shopify',
      'PHP (from time to time)',
      'React (ew)',
      'Vuejs (better)',
    ]
  },
  {
    title: "Passionate for",
    items: [
      'Literature',
      'Food',
      'Movies/series',
      'Gaming',
    ]
  },
  {
    title: "Looking to learn more about",
    items: [
      'AI (please shut up about ai)',
      'Kubernetes',
      'Game development',
      'Architecture and cloud',
      'Other window managers',
      'Emacs (sue me)',
    ]
  }

]

---

<Default>
  <Hero></Hero>
  <section class="traits">
    {traits.map(trait => (<Traits title={trait.title} items={trait.items}></Traits>))}
  </section>
  <RecentPosts></RecentPosts>
</Default>


<style lang="scss">
  .traits {
    display: flex;
    gap: 8px;
  }
</style>


