
<section class="hero">
  <h1>Hello, I'm Julian</h1>
  <p>Welcome to my personal page and blog, I write sometimes (when I feel like it).</p>
  <p>
    I'm a sowftware engineer focused on web technologies. Neovim btw. Arch btw
    (that's a lie I use Endevour because I value my time). React is the new jQuery.
    Javascript is shit. Go is the future.
  </p>
</section>

