
---
interface Props {
  title: string;
  items: string[];
}

const { title, items } = Astro.props;
---
<div class="traits__list">
  <h2 class="traits__title">{title}</h2>
  <ul class="traits__items">
    {items.map(item => <li>{item}</li>)}
  </ul>
</div>


<style lang="scss">
  .traits__list {
    flex-grow: 1;
    width: 100%;

    @media screen and (min-width: 1024px) {
      width: calc(100% / 3); 
    }
  }
</style>

