<a class="header__text"
  href="/blog"
  data-light="Developer by day"
  data-dark="Batman by night">
  Developer by day
</a>


<script>
document.addEventListener('DOMContentLoaded', () => {
  const headerName = document.querySelector('.header__text');
  const darkMode = window.matchMedia("(prefers-color-scheme: dark)");

  if (darkMode && headerName) {
    headerName.innerHTML = headerName.getAttribute('data-dark') || '';
  }

  window.addEventListener('theme:change', e => {
    if (headerName) {
      if ((e as any).detail === "dark"){
        headerName.innerHTML = headerName.getAttribute('data-dark') || '';
      } else {
        headerName.innerHTML = headerName.getAttribute('data-light') || '';
      }
    }
  })

})
</script>


